
[dir="rtl"] .compoent-social{
    text-align: left;
}

[dir="rtl"] .img-title{
    right: -11%;
}
[dir="rtl"] .img-r-t{
    right: 0px;
}

[dir="rtl"]  .img-title-m{
    right:-5%
}
[dir="rtl"] .compoent-img-about{
    right: 0%;
    display: none !important;
}

[dir="rtl"] .row-media{
    direction: ltr;
}
[dir="rtl"] .item{
    margin-right: 20px;
}

[dir="rtl"] .row-card-about .col-card-about:first-child{
    padding-right: 0px;
}
[dir="rtl"] .row-card-about .col-card-about:last-child{
    padding-left: 0px;
}

[dir="rtl"] .row-card-services:nth-child(even) .img-fluid-services
{
    margin-left: auto;

}
[dir="rtl"] .owl-blog .owl-nav {
    left:18%;

}


[dir="rtl"] .img-p{
    right: -6%;

}
[dir="rtl"] .title-nav{
    border-right: 1px solid #fff;
}
[dir="rtl"] .navbar-index-nav {
    border-left: 1px solid #00293D;
}
[dir="rtl"]   .from-compoent-social ul li{
    margin-right: 15px;
}
[dir="rtl"] .compoent-img-sevices{
    transform: rotate(177deg);
    left:0px;
    float: left;
}
@media (max-width:1440px) {
    [dir="rtl"] .compoent-img-sevices{
        transform: rotate(183deg);
        left: 9px;
    }
}

  [dir="rtl"] .link-k-more:hover:before {
    content: "ابدأ"
  }
  [dir="rtl"] .img-more {
    transform: rotate(182deg)
  }
  [dir="rtl"] .compoent-social ul li{
    margin-right: 10px;
}
[dir="rtl"] .row-leader .col-leader:first-child{
    padding-right: 0px;
}